.card {
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.124);
  padding: 0.3em;
  border-radius: 0.2em;
}

.cardHeader {
  padding: 0.5em 0.2em 0.5em 0.2em;
}

.cardContent {
  padding: 0.5em 0.2em 0.5em 0.2em;
}
